$primary-font-color: rgb(32, 32, 32)
$blue-color: #27577F
$grey-color: #EDEDED
$primary-font-size: 20px
$primary-h1-font-size: 31px

h1, h2, h3, h4, h5, h6
  color: $primary-font-color
  font-family: $sans-serif
  font-weight: 700

h1
  font-size: $primary-h1-font-size
  color: $blue-color
  border-bottom: 1px solid $primary-font-color
  padding-bottom: 15px
  margin-bottom: 19px

p
  font-size: $primary-font-size

#page
  margin-left: auto
  margin-right: auto

  @include media($medium-screen)
    max-width: 1200px

.site-content
  @include clearfix
  background-color: #FFF

#primary
  @include media($large-screen)
    @include span-columns(8)

#secondary
  background-color: $grey-color
  display: none
  @include media($large-screen)
    display: block
    @include span-columns(4)
    @include omega
    padding: 20px

.site-footer
  color: #C2C2C2
  font-size: 16px
  margin-top: 60px

.main-content
  padding: 20px