#masthead
  @include clearfix
  padding: 20px 20px 15px 20px
  position: relative
  font-size: 16px
  font-weight: normal

  +media($medium-screen)
    padding-top: 32px

#mobile-navigation
  z-index: 1
  display: none
  position: absolute
  width: 100%
  top: 70px
  left: 0
  background-color: $blue-color
  &.active
    display: block
  a
    display: block
    color: #FFFFFF
    padding: 7px 10px 7px 10px
    border-bottom: $base-border
    &:hover
      background-color: lighten($blue-color, 10%)

  .sub-menu
    padding-left: 30px


#site-navigation
  position: relative
  top: 4px
  display: none
  @include clearfix
  @include media($large-screen)
    display: block
  div
    @include media($large-screen)
      float: left
      margin-right: 60px
  a,
  a:visited,
  a:active
    color: rgba(0, 0, 0, 0.7)
  a:hover
    color: #000000

  .menu-huvudmeny-container
    width: 70%

  li
    display: inline
    float: left
    margin-right: 25px

    &:last-child
      margin-right: 0

  li.current-menu-item > a,
  .menu > li.menu-item-language-current > a
    font-weight: bold
    color: #000000

  .sub-menu
    display: none
    margin-left: 10px
    &.active
      display: block

  li.current-menu-parent
    > a
      color: #000000
      font-weight: bold
    .sub-menu
      display: block

  .sub-menu.submenu-languages
    display: block
    margin: 0

.menu-toggle
  background-color: $blue-color
  padding: 0.6em 1em

  &:hover
    background-color: lighten($blue-color, 10%)

.menu-toggle-wrapper
  float: left
  @include media($large-screen)
    display: none

.site-branding
  @include clearfix
  max-width: 60%
  float: right
  margin-right: 0%
  @include media($medium-screen)
    max-width: 30%
  @include media($large-screen)
    max-width: 20%
    position: absolute
    right: 50px
    bottom: 5px
  img
    display: block
    width: 100%
    float: right
    +media($large-screen)
      width: 95%
      margin-right: 35%