.widget-title
  font-size: 32px
  text-transform: none

aside
  border-bottom: 8px solid white
  padding-bottom: 30px
  margin-bottom: 60px
  ul
    list-style-type: square
    padding-left: 24px
  li
    color: #6F8798
    margin-bottom: 15px
    line-height: 1em
  a
    font-weight: 300
    font-size: $primary-font-size
    color: $blue-color
    &:vistited
      color: $blue-color
    &:hover
      color: lighten($blue-color, 20%)
      text-decoration: underline